/*Responsive Tablet => Robby Ramadhan */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  header img {
    width: 17%;
    height: fit-content;
  }

  .lessons {
    width: 43%;
    margin: 20px 20px;
    height: fit-content;
  }

  .des {
    margin-bottom: 15px;
  }

  .form {
    width: 60%;
    background-size: auto;
    height: fit-content;
  }

  .menu-icon {
    display: none;
  }

  footer {
    height: fit-content;
  }

  .menufooter2 {
    padding-left: 50px;
  }

  .katasosmed {
    padding-left: 100px;
    padding-top: 50px;
  }

  .menufooter4 ul {
    padding-left: 170px;
    margin-top: 0px;
  }
}

@media all and (max-width: 670px) {
  .form {
    width: 100%;
    height: fit-content;
  }
  
  header img {
    width: 40%;
    margin-top: 8px;
    height: fit-content;
  }
  
  .checkbtn{
    display: block;
  }

  header ul{
    position: fixed;
    width: 45%;
    height: 48%;
    background: white;
    top: 80px;
    left: -90%;
    text-align: center;
    transition: all .5s;
  }

  header li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }

  header a{
    font-size: 20px;
  }

  a:hover{
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul{
    left: 0;
  }

  .btn:hover {
    background: #d7dee4;
    opacity: o.5;
    transition: .5s;
  }

  .lessons {
    width: 60%;
    margin-bottom: 30px;
    margin-left: 80px;
    height: fit-content;
  }

  .des {
    margin-bottom: 15px;
  }

  .section-title h3 {
    font-size: 20px;
    padding-top: 20px;
  }

  .section-form {
    font-size: 17px;
  }

  .footer-atas, .footer-mid, .footer-bawah{
    display: inline-block;
  }

  .footer-mid{
    padding-left: 30%;
  }

  .footer-bawah p{
    margin-left: 30%;
  }

  .menufooter {
    text-align: center;
  }

  .menufooter2 {
    float: left;
    padding-left: 0px;
  }

  .menufooter3 {
    margin-left: 0px;
  }

  footer img {
    width: 30%;
  }

  .katasosmed {
    padding-left: 5px;
  }

  .menufooter4 ul {
    padding-left: 0px;
  }


}