/*Responsive Tablet => Robby Ramadhan */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }
  
    .lessons {
      width: 43%;
      margin: 20px 20px;
      height: fit-content;
    }
    
    .des{
      margin-bottom: 15px;
    }
    
    .form {
      width:60%;
      background-size: auto;
      height: fit-content;
    }

    .menu-icon{
      display:none;
    }

    .katasosmed {
      padding-left: 300px;
    }

    .menufooter4 ul {
      padding-left: 460px;
    }

  }
    

  @media all and (max-width: 670px) {
    .form {
      width:100%;
      height: fit-content;
    }

    .header-right{
      display:none;
    }

    .lessons{
      width: fit-content;
      height: fit-content;
      margin: 35px 35px;
    }
    .menu-icon{
      color: rgb(0, 0, 0);
      float: right;
      line-height: 20px;
      font-size: 30px;
      padding: 12px 12;
      margin-right: 12px;
      display:block;
    }
    .menu-icon:hover{
      color: rgb(255, 255, 255);
      opacity: 0.9;
      cursor: pointer;
      background-color: black;
    }
    
.menufooter {
  text-align: center;
}

.menufooter3 {
  margin-left: 20px;
}

.menufooter2 {
  float: left;
  padding-left: 110px;
}

.section-title h3 {
  font-size: 20px;
  padding-top: 20px;
}

.section-form {
  font-size: 17px;
}

footer img {
  width: 30%;
}

.katasosmed {
  padding-left: 115px;
}

.menufooter4 ul {
padding-left: 0px;
}

.des {
  margin-bottom: 15px;
}

  }